// Bootstrap 樣式覆蓋

// .btn {
//     border-radius: 999px;
// }

// 通用

html {
    font-size: 16px;
    color: white;
}

p {
margin-bottom: 0.5rem;
}

.a-fs-1 {
font-size: 1.33rem;
}

.a-fs-2 {
font-size: 1.66rem;
}

.a-fs-3 {
font-size: 2rem;
}

.a-fs-4 {
font-size: 4rem;
}

// 分隔線，使用 data-text 可以自動將文字置中於分隔線上

.a-hr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-hr::after {
position: absolute;
content: attr(data-text);
background-color: white;
padding: 0 10px;
font-size: 0.8rem;
}




// .banner {
//     > div {
//         > div {
//             flex-grow: 1;
//             &:nth-of-child(2) {
//                 max-height: 34%;
//             }
//         }
//     }
// }
